{% extends "movieapp/base.html" %}
{% load static %}
{% block content %}
<h1>Movies</h1>
<div class="row">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Average Rating</th>
            <th scope="col">Genres</th>
          </tr>
        </thead>
        
        <tbody>
        {% for movie in movies%}
          <tr>
            <td>{{movie.0}}</td>
            <td>{{movie.1}}</td>
            <td>{{movie.3}}</td>
            <td>{{movie.4}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}