{% extends "movieapp/base.html" %}
{% load static %}
{% block content %}
<h1>Movies</h1>
<div class="row">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Year Released</th>
            <th scope="col">Rating</th>
          </tr>
        </thead>
        
        <tbody>
        {% for movie in movies%}
          <tr>
            <td></td>
            <td><a class="nav-link" href="/movies/{{movie.0}}">{{movie.1}}</a></td>
            <td>{{movie.2}}</td>
            <td>⭐ {{movie.3}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}