{% extends "movieapp/base.html" %}
{% load static %}
{% block content %}

<style>
  .dropdown-menu {
    width: 100%;
  }

  .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
  }
</style>

<h1>Users segmentation</h1>
<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Movie name</th>
        <th scope="col">Segmentation by ratings<br/>
          <span class="badge bg-success rounded-pill text-white">Users who would enjoy this movie </span><br/>
          <span class="badge bg-danger rounded-pill text-white">Users who wouldn't enjoy this movie </span>
        </th>
        <th scope="col">Segmentation by tags (users who did watch this movie)</th>
        <th scope="col">Segmentation by tags (users in general)</th>
        <th scope="col">Segmentation by genre</th>
      </tr>
    </thead>
    <tbody>
      {% for segment, tags in segments%}
        <tr>
          <th scope="row"><a href="movie_panel?select={{segment.0}}"><button type="button" class="btn btn-outline-light text-dark">{{segment.0}}</button><a></th>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{segment.1}}
              </button>
              <div class="dropdown-menu scrollable-menu">
                {% for userID in segment.3 %}
                  <li>{{userID.0}}</li>
                {% endfor %}
              </div>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{segment.2}}
              </button>
              <div class="dropdown-menu scrollable-menu">
                {% for userID in segment.4 %}
                  <li>{{userID.0}}</li>
                {% endfor %}
              </div>
            </div>
          </td>
          <td>
            <div class="btn-group">
              {% for tag, users_list, general_users_list in tags %}
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{tag.0}}
                </button>
                <div class="dropdown-menu scrollable-menu">
                  <li>Liked:</li>
                  {% for users in users_list %}
                    <li>{{users.0}}</li>
                  {% endfor %}
                  <div class="dropdown-divider"></div>
                  <li>Disliked:</li>
                  {% for users in users_list %}
                    <li>{{users.1}}</li>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          </td>
          <td>
            <div class="btn-group">
              {% for tag, users_list, general_users_list in tags %}
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{tag.0}}
                </button>
                <div class="dropdown-menu scrollable-menu">
                  <li>Liked:</li>
                  {% for general_users in general_users_list %}
                    <li>{{general_users.0}}</li>
                  {% endfor %}
                  <div class="dropdown-divider"></div>
                  <li>Disliked:</li>
                  {% for general_users in general_users_list %}
                    <li>{{general_users.1}}</li>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<nav>
  <ul class="pagination justify-content-center">
    {% if cur_page != 1 %}
      <li class="page-item"><a class="page-link" href="?page={{cur_page|add:-1}}">Previous</a></li>
      <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
      {% if cur_page > 2 %}
      <li class="page-item"><a class="page-link">...</a></li>
      {% endif %}
    {% endif %}

      <li class="page-item active"><a class="page-link" href="?page={{cur_page}}">{{cur_page}}</a></li>

    {% if cur_page != movie_number %}
      {% if cur_page < movie_number|add:-1 %}
      <li class="page-item"><a class="page-link">...</a></li>
      {% endif %}
      <li class="page-item"><a class="page-link" href="?page={{movie_number}}">{{movie_number}}</a></li>
      <li class="page-item"><a class="page-link" href="?page={{cur_page|add:1}}">Next</a></li>
    {% endif %}
  </ul>
</nav>

{% endblock %}